.content-input{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap:20px;
}
.content-input-form{
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}
.content-input-form label{

    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 48px;
    color: #424242;
}