.containerMain{
    width: 900px;
    height: auto;
    background: #FFFF;
    border-radius:10px;
    box-shadow: 0px 12px 12px -2px rgba(163, 163, 163, 0.452);
    /* padding: 10px; */
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1px;
    padding-bottom: 100px;
}
.title{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 48px;
    color: #424242;
    margin-top: 20px;
}
.alert{
    background-color: #F2F4FC;
    border: 1px solid #DEE0E7;
    border-left: 10px solid #B94B20;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.alert p{
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #2B2B2B;
}
.alert h2{
    font-family: sans-serif;
    color: #B94B20;
}
.title span span{
    color: #007FFF;
}
.content-inputs{
    width: 100%;
    height: 100%;
}

.paint-bucket{
    width: 70px;
    height: 50px;
    background: #007FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #007FFF;
}
.paint-bucket-2{
    width: 70px;
    height: 70px;
    background: #007FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #007FFF;
}
.paint-bucket-3{
    width: 70px;
    height: 100px;
    background: #007FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #007FFF;
}
.paint-bucket-4{
    width: 70px;
    height: 150px;
    background: #007FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #007FFF;
}
.title-bucket{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#007FFF;
    background: #FFF;
}
.paints{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap:20px;
}
.response-ink{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
}


.title-ink{
    background-color: #F2F4FC;
    border: 1px solid #DEE0E7;
    border-left: 10px solid #007FFF;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 100px;
}
.title-ink p{
    color: #2B2B2B !important;
}